@font-face { font-family: 'League-Gothic'; src: url('league-gothic/LeagueGothic-Regular.otf'); }

* {	
	/*margin: 0 auto;*/
	font-family: 'Open Sans';
}

body {
	/*background-color: ;*/
	background-color: #4E5257;
	margin: 0px;
	display: hidden;
	padding-bottom: 20px;

}

.topics, #typeDummy, h2, .topics clicked, #info {
	font-family: 'League-Gothic';
}

h1 {
	font-size: 7em;
	text-shadow: 3px 3px 0px #5696BC, 5px 5px 0px black;
	letter-spacing: 1.5px;
	font-family: 'Bangers';
	padding-bottom: 30px;
	text-align: center;
}

#secretPika {
	display: none;
	padding-bottom: 20px;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
}

#secretPikaButton {
	font-family: 'Bangers';
}

#mainMenuButtons, h2{
	margin: auto; 
	width: 60%;
	text-align: justify;
}

.topics, h2, a.topics {
	padding-top: 15px;
	font-size: 3.5em;
/*	font-family: 'League-Gothic';
*/	text-shadow: 1px 1px 0px #5696BC, 1.5px 1.5px 0px black;
	cursor: pointer;
}

.topics {
	display: inline-block;

}

.typed {
	font-size: 1em;
	text-shadow: 1px 1px 0px black, 1.5px 1.5px 0px #5696BC;
	color: #5696BC;
	letter-spacing: 1.5px;
	font-family: 'Bangers';
	padding-bottom: 30px;
	text-align: center;
}

#misses {
	font-size: 1em;
	text-shadow: 1px 1px 0px black, 1.5px 1.5px 0px #5696BC;
	color: red;
	letter-spacing: 1.5px;
	font-family: 'Bangers';
	padding-bottom: 30px;
	text-align: center;
}

.highlight {
	color: #5696BC;
	text-shadow: 1px 1px 0px black, 1.5px 1.5px 0px #5696BC;
}

#extraElem {
	visibility: hidden;
	width: 100%;
}

a {
	color: inherit;
	font-family: inherit;
	visited: none;
	//text-decoration: none;
	underline: none;
}


.topics clicked {
	display: inline-block;
	padding-top: 15px;
	font-size: 3.5em;
	color: "white";
/*	font-family: 'League-Gothic';
*/	text-shadow: 1px 1px 0px #5696BC, 1.5px 1.5px 0px white;
	cursor: pointer;
}

.topicPrev {
	display: none;

	border-style: inset double;
	border-width: 2px;
	border-color: grey;
	border-radius: 2px;

	background-color: #F3EFE0;
	width: 60%;
	margin: auto;
	clear: left;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: 20%;
}

#info {
	font-size: 3em;
	cursor: default;
/*	font-family: 'League-Gothic';
*/}

#stats {
	font-size: .5em;
}
